/Finestra/build/
/Finestra/dist/
/Finestra/nbproject/private/

/Pulsanti/build/
/Pulsanti/dist/
/Pulsanti/nbproject/private/

/ScambiaScene/build/
/ScambiaScene/dist/
/ScambiaScene/nbproject/private/

/Template/build/
/Template/dist/
/Template/nbproject/private/

/FinestraLogin/build/
/FinestraLogin/dist/
/FinestraLogin/nbproject/private/

/LoginAvanzato/build/
/LoginAvanzato/dist/
/LoginAvanzato/nbproject/private/

/FinestreMultiple/nbproject/private/
/FinestreMultiple/dist/
/FinestreMultiple/build/

/Table/nbproject/private/
/Table/dist/
/Table/build/
