/Finestra/build/
/Finestra/dist/
/Finestra/nbproject/private/

/Pulsanti/build/
/Pulsanti/dist/
/Pulsanti/nbproject/private/

/ScambiaScene/build/
/ScambiaScene/dist/
/ScambiaScene/nbproject/private/

/Template/build/
/Template/dist/
/Template/nbproject/private/

/FinestraLogin/build/
/Template/dist/
/FinestraLogin/nbproject/private/